@import "../variables.scss";
.header-row {
    box-sizing: border-box;
    width: 100%;
    // height: 110px;
    background-color: #eaeaee;
    display: flex;
    align-items: center;
    color: #303f9f;
    padding: 0 15px;
    .header-col {
        display: flex;
        align-items: center;
        &.header-col-left {
            width: 40%;
            .logo-container {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                .text {
                    text-align: center;
                    span {
                        color: #ff5252;
                    }
                }
            }
        }
        &.header-col-right {
            width: 60%;
            align-items: flex-end;
            flex-direction: column;
            .contact-container {
                div {
                    display: flex;
                    align-items: center;
                    padding: 2px 0;
                    font-size: 1vw;
                    i {
                        &.material-icons {
                            font-size: 1.6vw;
                        }
                    }
                    span {
                        padding-left: 5px;
                    }
                }
            }
        }
    }
}

.navbar {
    .nav-list {
        list-style: none;
        display: flex;
        padding: 0;
        justify-content: center;
        align-items: center;
        .nav-item {
            padding: 5px 10px;
            border-right: 1px solid #bdbdbd;
            color: #303f9f;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 0;
                height: 2px;
                bottom: 0;
                left: 50%;
                background-color: #3f51b5;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
            }
            &:hover {
                color: #ff5252;
                cursor: pointer;
                &::before {
                    width: 100%;
                    left: 0;
                }
            }
            &.active {
                color: #ff5252;
                &::before {
                    visibility: hidden;
                }
            }
            &:last-child {
                border-right: none;
            }
        }
    }
}

@media (max-width: $bp-phone) {
    // .header-row {
    //     .header-col-right {
    //         .contact-container {
    //             display: none;
    //         }
    //         .hamburger {
    //             display: block;
    //         }
    //     }
    // }
}

@media (max-width: $bp-land-tab) {
    .header-row {
        height: 70px;
        .header-col-left {
            .logo-container {
                .image {
                    height: 60px;
                }
                .text {
                    font-size: 3vw;
                    font-weight: 500;
                }
            }
        }
        .header-col-right {
            .contact-container {
                display: none;
            }
            .hamburger {
                display: block;
            }
        }
    }
    .navbar {
        display: none;
    }
}

@media (min-width: $bp-land-tab) {
    .header-row {
        height: 110px;
        .header-col-left {
            .logo-container {
                .image {
                    height: 100px;
                }
                .text {
                    font-size: 2.6vw;
                    font-weight: 500;
                }
            }
        }
        .header-col-right {
            .contact-container {
                display: block;
                div {
                    font-weight: 500;
                }
            }
            .hamburger {
                display: none;
            }
        }
    }
}

@media (min-width: $bp-lap-desk) {
    // .header-row {
    //     height: 150px;
    //     .header-col-left {
    //         .logo-container {
    //             .image {
    //                 height: 140px;
    //             }
    //         }
    //     }
    // }
}

@media (min-width: $bp-xl-screens) {
    .header-row {
        height: 210px;
        .header-col-left {
            .logo-container {
                .image {
                    height: 200px;
                }
            }
        }
    }
}
