<header>
    <div class="header-row">
        <div class="header-col header-col-left">
            <div class="logo-container">
                <img class="logo image" src="assets/images/new-ruby-hospital-logo.png" />
            </div>
        </div>
        <div class="header-col header-col-right">
            <button class="hamburger" mat-icon-button (click)="toggleAppDrawer()"><mat-icon>menu</mat-icon></button>
        </div>
    </div>
    <nav class="navbar">
            <ul class="nav-list">
                <li class="nav-item active"><a><i class="material-icons">home</i></a></li>
                <li class="nav-item"><a>About us</a></li>
                <li class="nav-item"><a>Departments</a></li>
                <!-- <li class="nav-item"><a>Specialisation</a></li> -->
                <li class="nav-item"><a>Empanelments</a></li>
                <!-- <li class="nav-item"><a>Facilities</a></li> -->
                <li class="nav-item"><a>Media</a></li>
                <li class="nav-item"><a>Find doctor</a></li>
                <li class="nav-item"><a>Contact us</a></li>
            </ul>
    </nav>
    
</header>
