<header>
    <div class="header-row">
        <div class="header-col header-col-left">
            <div class="logo-container">
                <img class="logo image" src="assets/images/new-ruby-hospital-logo.png" />
                <div class="logo text">New Ruby Hospital</div>
            </div>
        </div>
        <div class="header-col header-col-right">
            <div class="contact-container">
                <div>
                    <i class="material-icons">place</i>
                    <span>
                        New Ruby Hospital,
                        26 Link Road<br />
                        Lajpat Nagar, JALANDHAR
                    </span>
                </div>
                <div>
                    <i class="material-icons">phone</i>
                    <span>0181-2220130</span>
                </div>
                <div>
                    <i class="material-icons">email</i>
                    <span>newrubyhospital@gmail.com</span>
                </div>
            </div>
            <button class="hamburger" mat-icon-button (click)="toggleAppDrawer()"><mat-icon>menu</mat-icon></button>
        </div>
    </div>
    <nav>

    </nav>
    
</header>
