<footer class="footer" id="contact">
    <div class="col left">
        <h2 class="heading">
            Important <span class="secondary-text">Links</span>
        </h2>
        <ul>
            <li><i class="material-icons">chevron_right</i><a routerLink="/about">About Us</a></li>
            <li><i class="material-icons">chevron_right</i><a routerLink="/departments">Departments</a></li>
            <li><i class="material-icons">chevron_right</i><a routerLink="/empanelments">Empanelments</a></li>
            <li><i class="material-icons">chevron_right</i><a routerLink="/doctors">Find A Doctor</a></li>
            <li><i class="material-icons">chevron_right</i><a href="https://www.google.com/maps/uv?hl=en&pb=!1s0x391a5af8be172d2b%3A0x9f26ef7eee6f91a!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipPQy6dOUV1t6LuPxpQxZupk4EHABEVxAPkBruWv%3Dw300-h200-k-no!5snew%20ruby%20hospital%20-%20Google%20Search!15sCgIgAQ&imagekey=!1e10!2sAF1QipPQy6dOUV1t6LuPxpQxZupk4EHABEVxAPkBruWv&sa=X&ved=2ahUKEwirlsDB35_rAhUDzTgGHUkfAW0QoiowCnoECBIQBg" target="_blank">Gallery</a></li>
            <li><i class="material-icons">chevron_right</i><a routerLink="">Media</a></li>
            <li><i class="material-icons">chevron_right</i><a href="http://momivfcentre.com/" target="_blank">MOM IVF Center</a></li>
        </ul>
    </div>
    <div class="col right">
        <h2 class="heading">
            Contact <span class="secondary-text">Info</span>
        </h2>
        <div class="row">
            <div class="col icon"><i class="material-icons">place</i></div>
            <div class="col text">
                New Ruby Hospital Pvt. Ltd.<br />
                26,27 Lajpat Nagar, Link Road,<br />
                Jalandhar - 144001
            </div>
        </div>
        <div class="row">
            <div class="col icon"><i class="material-icons">mail</i></div>
            <div class="col text">newrubyhospitalpltd@gmail.com</div>
        </div>
        <div class="row">
            <div class="col icon"><i class="material-icons">call</i></div>
            <div class="col text">Landline:  0181-4646327, 0181-2224151</div>
        </div>

    </div>
    <div class="creds">
        <mat-icon svgIcon="coding" aria-hidden="false" aria-label="Developed by Simar Preet Singh">
        </mat-icon> with ❤️ by Simar Preet Singh
    </div>
</footer>