<footer class="footer" id="contact">
    <div class="col left">
        <h2 class="heading">
            Important <span class="secondary-text">Links</span>
        </h2>
        <ul>
            <li><i class="material-icons">chevron_right</i>About Us</li>
            <li><i class="material-icons">chevron_right</i>Departmnts</li>
            <li><i class="material-icons">chevron_right</i>Empanelments</li>
            <li><i class="material-icons">chevron_right</i>Find A Doctor</li>
            <li><i class="material-icons">chevron_right</i>Gallery</li>
            <li><i class="material-icons">chevron_right</i>Media</li>
        </ul>
    </div>
    <div class="col right">
        <h2 class="heading">
            Contact <span class="secondary-text">Info</span>
        </h2>
        <div class="row">
            <div class="col icon"><i class="material-icons">place</i></div>
            <div class="col text">
                New Ruby Hospital Pvt. Ltd.<br />
                26,27 Lajpat Nagar, Link Road,<br />
                Jalandhar - 144001
            </div>
        </div>
        <div class="row">
            <div class="col icon"><i class="material-icons">mail</i></div>
            <div class="col text">newrubyhospitalpltd@gmail.com</div>
        </div>
        <div class="row">
            <div class="col icon"><i class="material-icons">call</i></div>
            <div class="col text">Landline: 0181-2224151, 0181-4646327</div>
        </div>

    </div>
    <div class="creds">
        <mat-icon svgIcon="coding" aria-hidden="false" aria-label="Developed by Simar Preet Singh">
        </mat-icon> with ❤️ by Simar Preet Singh
    </div>
</footer>