<div class="drawer-backdrop">
    <nav class="nav-drawer">
        <ul>
            <li class="nav-item active"><a routerLink="/home">Home</a></li>
            <li class="nav-item"><a routerLink="/about">About us</a></li>
            <li class="nav-item"><a routerLink="/departments">Departments</a></li>
            <!-- <li class="nav-item"><a>Specialisation</a></li> -->
            <li class="nav-item"><a routerLink="/home">Empanelments</a></li>
            <!-- <li class="nav-item"><a>Facilities</a></li> -->
            <li class="nav-item"><a routerLink="/home">Media</a></li>
            <li class="nav-item"><a routerLink="/doctors">Find doctor</a></li>
            <li class="nav-item"><a routerLink="/home">Contact us</a></li>
        </ul>
        <div class="creds">
            <mat-icon svgIcon="coding" aria-hidden="false" aria-label="Developed by Simar Preet Singh">
            </mat-icon> with ❤️ by Simar Preet Singh
        </div>
    </nav>
    <div class="empty-drawer" (click)="closeTheDrawer()"></div>
</div>