<div class="drawer-backdrop">
    <nav class="nav-drawer">
        <ul>
            <li class="nav-item active"><a>Home</a></li>
            <li class="nav-item"><a>About us</a></li>
            <li class="nav-item"><a>Departments</a></li>
            <li class="nav-item"><a>Specialisation</a></li>
            <li class="nav-item"><a>Empanelments</a></li>
            <li class="nav-item"><a>Facilities</a></li>
            <li class="nav-item"><a>Media</a></li>
            <li class="nav-item"><a>Find doctor</a></li>
            <li class="nav-item"><a>Contact us</a></li>
        </ul>
    </nav>
    <div class="empty-drawer" (click)="closeTheDrawer()"></div>
</div>