<div class="drawer-backdrop">
    <nav class="nav-drawer">
        <ul>
            <li class="nav-item active"><a routerLink="/home">Home</a></li>
            <li class="nav-item"><a routerLink="/about">About us</a></li>
            <li class="nav-item"><a routerLink="/departments">Departments</a></li>
            <!-- <li class="nav-item"><a>Specialisation</a></li> -->
            <li class="nav-item"><a routerLink="/empanelments">Empanelments</a></li>
            <!-- <li class="nav-item"><a>Facilities</a></li> -->
            <li class="nav-item"><a routerLink="/home">Media</a></li>
            <li class="nav-item"><a href="https://www.google.com/maps/uv?hl=en&pb=!1s0x391a5af8be172d2b%3A0x9f26ef7eee6f91a!3m1!7e115!4shttps%3A%2F%2Flh5.googleusercontent.com%2Fp%2FAF1QipPQy6dOUV1t6LuPxpQxZupk4EHABEVxAPkBruWv%3Dw300-h200-k-no!5snew%20ruby%20hospital%20-%20Google%20Search!15sCgIgAQ&imagekey=!1e10!2sAF1QipPQy6dOUV1t6LuPxpQxZupk4EHABEVxAPkBruWv&sa=X&ved=2ahUKEwirlsDB35_rAhUDzTgGHUkfAW0QoiowCnoECBIQBg" target="_blank">Media</a></li>
            <li class="nav-item"><a routerLink="/doctors">Find doctor</a></li>
            <li class="nav-item"><a (click)="contacts()">Contact us</a></li>
        </ul>
        <div class="creds">
            <mat-icon svgIcon="coding" aria-hidden="false" aria-label="Developed by Simar Preet Singh">
            </mat-icon> with ❤️ by Simar Preet Singh
        </div>
    </nav>
    <div class="empty-drawer" (click)="closeTheDrawer()"></div>
</div>