<div class="khali-div"></div>
<app-banner></app-banner>
<div class="departments">
    <h2>Depart<span class="secondary-text">ments</span></h2>
    <div class="container">
        <div class="department">
            <img src="assets/images/surgery.jpg" />
            <div class="name">General & Laparoscopic Surgery</div>
            <div class="description">
                Laparoscopic Cholecystectomy, Hernia, Appendix, Thyroid Gland, Breast Surgery, Trauma Surgery & All Type
                of Emergency.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/neuro.jpg" />
            <div class="name">Neuro & Spine Surgery</div>
            <div class="description">
                Spine Dics Disease, Paralysis, Brain Haemorrhage, Epilepsy, Migrain, Head & Spine Injury, Brain & Spine
                Infection TB, Both Adult & Child
            </div>
        </div>
        <div class="department">
            <img src="assets/images/cardio.jpg" />
            <div class="name">Cardiology</div>
            <div class="description">
                Arrhythmia, Coronary Artery Disease, Heart Failure, Angioplasty, Pacemaker, Coronary Angiograms &
                Cardiac Catheterization, Angiography of Carotid Renal & Peripheral Vessels.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/oncology.jpg" />
            <div class="name">Oncology</div>
            <div class="description">
                Cancer Surgery, Chemotherapy, Immunotherapy, Targeted Theraoy, Hormone Theraoy, for All Solid
                Malignancies, Cancer Pain Management.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/orthopedic.jpg" />
            <div class="name">Orthopaedic & Joint Replacement</div>
            <div class="description">
                Knee, Hip, Shoulder, Trauma & Other Joint Related Problem.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/urology.jpg" />
            <div class="name">Urology</div>
            <div class="description">
                Prostatomegaly (BPH), Stone Disease (Kidney, Ureter, Bladder), Increased Urinary Frequency, Urinary
                Tract Cancer, Urethral Stricture Disease, Incontinence Of Urine- Hematuria (Blood in Urine), Endoscopic
                Stone Surgery (PCNL, URSL, RIRS).
            </div>
        </div>
        <div class="department">
            <img src="assets/images/gastro.jpg" />
            <div class="name">Gastroenterology</div>
            <div class="description">
                Liver Disease: Fatty Liver, Alcoholic Liver Disease, Viral Hepatitis (A,E, B,C,), Cirrhosis. Pancreatic
                Disorder: Acute And Chronic Pancreatitis. Digestive Disorders: IBS, Chronic Diarrhea & Peptic Ulcer.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/medicine.jpg" />
            <div class="name">Internal Medicine</div>
            <div class="description">
                Laparoscopic Cholecystectomy, Hernia, Appendix, Thyroid Gland, Breast Surgery, Trauma Surgery & All Type
                of Emergency.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/gynaecology.jpg" />
            <div class="name">Gynaecology</div>
            <div class="description">
                Normal & High Risk Pregnancy, Normal & Pailess Delivery, Cessarean Section, Infertility, Irregular
                Periods, PCOD, Fibroid, Hysterectomy, Hysteroscopy, Laproscopic Ovarian Cyst/ Tumor Removal,
                Uterus/Ovarian Cancer Treatment.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/paediatric.jpg" />
            <div class="name">Paediatrics</div>
            <div class="description">
                Newborn Care, Phototherapy, Radiant Warmer, Immunization, Well Baby Clinic for all Pediatric
                Emergencies.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/eye.jpg" />
            <div class="name">Opthalmology (EYE)</div>
            <div class="description">
                Cataract Surgery, Glaucoma, Ocular Trauma Surgery, Squint Surgery, Computer Vision Syndrome, Redness Of
                Eye, Pain In Eyes, Headach Etc.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/anaesthesiology.jpg" />
            <div class="name">Anaesthesiology</div>
            <div class="description">
                Extremely proficient department of Anaesthiology having one of the finest and highly qualified team of
                anesthesiologists who are primarily responsible for providing a pain-free experience to the patients.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/blood.jpg" />
            <div class="name">Blood Bank</div>
            <div class="description">
                We are committed to deliver high quality services by assuring the supply of safe and quality blood and
                its products to the patients.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/lab.png" />
            <div class="name">Pathology & Lab Services</div>
            <div class="description">
                Our pathology is one of the few NABL certified labs in the region. The result is cutting edge accuracy
                and speed in investigation enabled by high-tech procedures and state of the art equipment.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/rediology.png" />
            <div class="name">Radiology</div>
            <div class="description">
                Equipped with the state-of-the-art Equipment like: CT Scan, Ultrasound, Echo, TMT, Digital X-ray
                machines with dry chemistry. There is a local network connecting X-Ray to a common workstation
                facilitating faster and more efficient
            </div>
        </div>
        <div class="department">
            <img src="assets/images/physio.png" />
            <div class="name">Physiotherapy</div>
            <div class="description">
                Physiotherapy is the art and science of physical care and rehabilitation. It is a primary care service
                provided to Individuals to restore and maintain movement and functional ability throughout the life
                span.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/dialysis.png" />
            <div class="name">Dialysis Unit</div>
            <div class="description">
                Dialysis Unit provides modern facilities to ensure infection free dialysis in an environment of comfort
                and care for the patients. Also, one dialysis machine is earmarked in an isolation area for treating
                Hepatitis C positive patients.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/kidney.png" />
            <div class="name">Kidney Transplant</div>
            <div class="description">
                A team of surgeons includes trained Nephrologists, specially trained anesthetists are committed to bring
                the best of team efforts to make your kidney transplant a success.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/dental.png" />
            <div class="name">Dental</div>
            <div class="description">
                The Dental department of Johal Hospital is well equipped with modern and latest dental equipment.
            </div>
        </div>
        <div class="department">
            <img src="assets/images/diet.png" />
            <div class="name">Dietetics & Nutrition</div>
            <div class="description">
                The Department of Dietetics has well trained Clinical Nutritionists who take care of the complete
                nutrition needs of the patient.
            </div>
        </div>
    </div>
</div>