@import "../variables.scss";
.departments {
    padding: 0 30px;
    h2 {
        text-align: center;
    }
    .container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        align-items: center;
        justify-content: center;
        .department {
            display: flex;
            width: 40%;
            flex-direction: column;
            align-items: center;
            margin-right: 30px;
            margin-bottom: 30px;
            height: 600px;
            box-shadow: 0px 0px 3px 0px grey;
            &:nth-child(even) {
                margin-right: 0;
            }
            .img-container {
                height: 300px;
                width: 100%;
                overflow: hidden;
                img {
                    height: 100%;
                    max-width: 100%;
                    min-width: 100%;
                    object-fit: cover;
                }
            }
            .name {
                margin-top: 20px;
                font-size: 20px;
                font-weight: 500;
                text-align: center;
                padding: 0 20px;
            }
            .description {
                font-size: 16px;
                margin-bottom: 20px;
                padding: 0 20px;
            }
        }
    }
}

@media(max-width: $bp-land-tab) {
    .departments {
        .container {
            .department {
                width: 80%;
                &:nth-child(odd) {
                    margin-right: 0;
                }
            }
        }
    }
}
