<div class="khali-div"></div>
<app-banner></app-banner>
<div class="departments">
    <h2>Depart<span class="secondary-text">ments</span></h2>
    <div class="container">
        <div class="department">
            <div class="img-container">
                <img src="assets/images/medicine.jpg" />
            </div>
            <div class="name">Internal Medicine</div>
            <div class="description">
                Prevention, Diagnosis and Management of Hypertension, Diabetes, Obesity, Thyroid disorders, Lung
                disorders, Gut disorders, Sesiure disorders
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/psychiatrics.jpeg" />
            </div>
            <div class="name">Neuropsychiatry and Behavioural Science</div>
            <div class="description">
                Anxiety Disorders, Depression, Personality Disorders, Schizophrenia, and Drug De-addiction
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/urology.jpg" />
            </div>
            <div class="name">Urology and Andrology</div>
            <div class="description">
                Prostatomegaly (BPH), Stone Disease (Kidney, Ureter, Bladder), Increased Urinary Frequency, Urinary
                Tract Cancer, Urethral Stricture Disease, Incontinence Of Urine- Hematuria (Blood in Urine), Endoscopic
                Stone Surgery (PCNL, URSL, RIRS).
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/dialysis.jpeg" />
            </div>

            <div class="name">Nephrology and Dialysis</div>
            <div class="description">
                A team of surgeons includes trained Nephrologists, specially trained anesthetists are committed to bring
                the best of team efforts to make your kidney transplant a success.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/gynaecology.jpeg" />
            </div>
            <div class="name">Gynaecology & Obsterics</div>
            <div class="description">
                Normal & High Risk Pregnancy, Normal & Pailess Delivery, Cessarean Section, Infertility, Irregular
                Periods, PCOD, Fibroid, Laparoscopic Hysterectomy, Hysteroscopy, Laproscopic Ovarian Cyst/ Tumor
                Removal,
                Uterus/Ovarian Cancer Treatment.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/momivf.jpg" />
            </div>
            <div class="name">MOM IVF Center</div>
            <div class="description">
                Infertility counsceling and management, Fibroid, Hysteroscopy, Laproscopic Ovarian Cyst, .
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/surgery.jpg" />
            </div>
            <div class="name">General & Laparoscopic Surgery</div>
            <div class="description">
                Laparoscopic Cholecystectomy, Hernia, Appendix, Thyroid Gland, Breast Surgery, Trauma Surgery & All Type
                of Emergency.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/orthopedic.jpg" />
            </div>
            <div class="name">Orthopaedic, Joint Replacement & Arthroscopy</div>
            <div class="description">
                Knee, Hip, Shoulder, Trauma & Other Joint Related Problem.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/gastro.jpg" />
            </div>
            <div class="name">Medical Gastroenterology</div>
            <div class="description">
                Liver Disease: Fatty Liver, Alcoholic Liver Disease, Viral Hepatitis (A,E, B,C,), Cirrhosis. Pancreatic
                Disorder: Acute And Chronic Pancreatitis. Digestive Disorders: IBS, Chronic Diarrhea & Peptic Ulcer.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/gastrosurgery.jpg" />
            </div>
            <div class="name">Surgical Gastroenterology</div>
            <div class="description">
                Hepato-Pancreato-Biliary, Upper GI Surgery and Colorectal Surgeries.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/neuro.jpg" />
            </div>
            <div class="name">Neuro & Spine Surgery</div>
            <div class="description">
                Spine Discs Disease, Paralysis, Brain Haemorrhage, Epilepsy, Migrain, Head & Spine Injury, Brain & Spine
                Infection TB, Both Adult & Child
            </div>
        </div>

        <div class="department">
            <div class="img-container">
                <img src="assets/images/oncology.jpg" />
            </div>
            <div class="name">Onco-surgery</div>
            <div class="description">
                Cancer Surgery, Chemotherapy, Hormone Therapy, Cancer Pain Management.
            </div>
        </div>

        <div class="department">
            <div class="img-container">
                <img src="assets/images/paediatric.jpg" />
            </div>
            <div class="name">Neonatal Care</div>
            <div class="description">
                Newborn Care, Phototherapy, Radiant Warmer and Immunization.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/cardio.jpeg" />
            </div>
            <div class="name">Cardiology</div>
            <div class="description">
                Arrhythmia, Coronary Artery Disease, Heart Failure, Angioplasty, Pacemaker, Coronary Angiograms &
                Cardiac Catheterization, Angiography of Carotid Renal & Peripheral Vessels.
            </div>
        </div>

        <div class="department">
            <div class="img-container">
                <img src="assets/images/anaesthesiology.jpg" />
            </div>
            <div class="name">Critical care and Anaesthesiology</div>
            <div class="description">
                Department of Anaesthiology having one of the finest and highly qualified team of
                anesthesiologists who are primarily responsible for providing a pain-free experience to the patients.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/blood.jpg" />
            </div>
            <div class="name">Blood Bank</div>
            <div class="description">
                We are committed to deliver high quality services by assuring the supply of safe and quality blood and
                its components (PRBC, FFP, SDP).
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/lab.png" />
            </div>
            <div class="name">Pathology & Lab Services</div>
            <div class="description">
                Our pathology lab is one of the best hi-tech labs in the region. The result is cutting edge accuracy
                and speed in investigation enabled by high-tech procedures and state of the art equipment.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/rediology.png" />
            </div>
            <div class="name">Radiology</div>
            <div class="description">
                Equipped with the state-of-the-art Equipment like: CT Scan, Ultrasound, Echo, TMT, Digital X-ray
                machines.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/physio.png" />
            </div>
            <div class="name">Physiotherapy and Rehabilitation</div>
            <div class="description">
                Physiotherapy is the art and science of physical care and rehabilitation. It is a primary care service
                provided to Individuals to restore and maintain movement and functional ability throughout the life
                span.
            </div>
        </div>


        <div class="department">
            <div class="img-container">
                <img src="assets/images/dental.jpeg" />
            </div>
            <div class="name">Dental</div>
            <div class="description">
                The Dental department of New Ruby Hospital is well equipped with modern and latest dental equipment.
            </div>
        </div>
        <div class="department">
            <div class="img-container">
                <img src="assets/images/diet.jpeg" />
            </div>
            <div class="name">Diet & Nutrition</div>
            <div class="description">
                The Department of Dietetics has well trained Clinical Nutritionists who take care of the complete
                nutrition needs of the patient.
            </div>
        </div>
    </div>
</div>