.about {
    .mission {
        .mission-head {
            font-size: 38px;
            margin-top: 0;
        }
        .mission-text {
            font-size: 22px;
            font-family: "Open Sans", sans-serif;
        }
    }
}