<div class="khali-div"></div>
<app-banner></app-banner>
<div class="about">
    <div class="about-container">
        <h2 class="about-head" animateOnScroll animationName="animate__animated animate__bounce">
            <div>Welcome to&nbsp;</div>
            <div class="secondary-text">New Ruby Hospital</div>
        </h2>
        <p>Providing Quality Care since 1986</p>
        <div class="about-content">
            <p>
                <q>
                    Our hospital is committed to perfecting the technological advances in healthcare and management
                    services. We update the professional skills of our team through a process of continuous training
                    and reviews.
                </q>
            </p>
            <p>
                Multi-disciplinary team of experienced doctors, nurses and other supporting staff at New Ruby
                Hospital will make your treatment personalised and their skill and experience will achieve
                the best possible outcome for you. We give our best to make your treatment easy and comfortable.
            </p>
            <p>
                We are offering medical services to people of Jalandhar and its neighbouring areas since 1986. The
                strategic location of this hospital is easily accessible from the railway station, bus stand and
                airport. Our foremost
                concern is to ensure that your health receives special attention and that you get best care.
            </p>
        </div>
    </div>
    <div class="divider">
        <hr />
    </div>
    <div class="mission">
        <h2 class="mission-head animate__animated animate__fadeInLeft">
            Our <span class="secondary-text">Mission</span>
        </h2>
        <p class="mission-text animate__animated animate__fadeInLeft">
            <q>
                To provide Quality Healthcare services to sick and needy with missionary zeal in an ethical
                mannerand with total commitment.
            </q>
        </p>
    </div>
    <div class="divider">
        <hr />
    </div>
    <div class="mission">
        <h2 class="mission-head animate__animated animate__fadeInRight">
            Our <span class="secondary-text">Vision</span>
        </h2>
        <p class="mission-text animate__animated animate__fadeInRight">
            <q>
                To provide Quality Healthcare services to sick and needy with missionary zeal in an ethical
                manner and with total commitment.
            </q>
        </p>
    </div>
</div>
<app-footer></app-footer>