.banner {
    background-image: url("../../assets/images/new-ruby-hospital-outside-2.jpeg");
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 40px;
}