<div class="body-container" [ngClass]="{'no-scroll': opened}">
    <app-drawer-menu @slideInRight *ngIf="opened" class="drawer-component" (blur)="onToggleDrawer($event)"
        (closeDrawer)="onToggleDrawer($event)">
    </app-drawer-menu>
    <app-header class="fixed-bar animate__animated animate__fadeInDownBig" (toggleDrawer)="onToggleDrawer($event)"></app-header>
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
</div>

<!-- <div style="background-color:#362d6c; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
    <div>
        <img src="assets/images/new-ruby-hospital-logo.png" alt="New Ruby Hospital Logo">
    </div>
    <div>
        <p style="color: white; font-size: 40px;">...Under Construction...</p>
    </div>
</div> -->