
.body-container {
    height: 100%;
    position: relative;
    .fixed-bar {
        position: fixed;
        top:0;
        width: 100vw;
        z-index: 2;
        box-shadow: 2px 0 8px 2px #808080;
    }
    .drawer-component {
        position: absolute;
        top: 0px;
        left: -10px;
        width: calc(100% + 10px);
        height: 100vh;
        z-index: 4;
    }
    &.no-scroll {
        overflow: hidden;
    }
}
