.drawer-container {
    height: 100%;
    .nav-drawer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        background-color: #3F51B5;
        ul {
            display: flex;
            list-style-type: none;
            flex-direction: column;
            padding: 0 30px;
            font-size: 14px;
            text-align: center;
            .nav-item {
                padding: 14px;
                border-bottom: 1px solid #BDBDBD;
                color: #C5CAE9;
                position: relative;
                &.active {
                    color: #fff;
                    &::before {
                        content: " ";
                        border-width: 6px;
                        border-style: solid;
                        border-color: transparent transparent transparent #fff;
                        position: absolute;
                        left: -10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    .mat-drawer-content {
        overflow-x: inherit;
    }
}
