<div class="khali-div"></div>
<app-banner></app-banner>
<div class="doctors">
    <h2>Find a <span class="secondary-text">Doctor</span></h2>
    <div class="container">
        <div class="doctor-table">
            <table>
                <tr>
                    <th>S. NO</th>
                    <th>NAME</th>
                    <th>SPECIALITY</th>
                    <th>QUALIFICATION</th>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        Dr. H.K Grover
                    </td>
                    <td>
                        Dental Surgeon
                    </td>
                    <td>
                        BDS, PCDS
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Dr. S.P.S Grover</td>
                    <td>Consultant Physician & Heart Specialist</td>
                    <td>
                        MBBS, MD,
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Dr. Puneet Pal Singh Grover</td>
                    <td>Urologist</td>
                    <td>MS, M.Ch.</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        Dr. Harneet Kaur Grover
                    </td>
                    <td>
                        Obstetrician & Gynecologist
                    </td>
                    <td>
                        MD, FMAS
                    </td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>
                        Dr. Kulwant Singh Baghiana
                    </td>
                    <td>
                        Neuro- Psychiatrist
                    </td>
                    <td>
                        MBBS, MD, MNAMS, DPM
                    </td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>
                        Dr. Dilbans Pandher
                    </td>
                    <td>
                        Orthopedic Surgeon
                    </td>
                    <td>
                        MS (ORTHO)
                    </td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>
                        Dr. Sanjay Mittal
                    </td>
                    <td>
                        Nephrologist
                    </td>
                    <td>
                        MD, DM
                    </td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>
                        Dr. R.S Bal
                    </td>
                    <td>
                        Gen. Surgeon
                    </td>
                    <td>
                        MBSS, MS
                    </td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>
                        Dr. Abhijot Parmar
                    </td>
                    <td>
                        G I Surgery
                    </td>
                    <td>
                        MS, M.Ch.
                    </td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>
                        Dr. Shabnam
                    </td>
                    <td>
                        Microbiology
                    </td>
                    <td>
                        MD
                    </td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>
                        Dr. J. S Matta
                    </td>
                    <td>
                        Anesthetist &Intesivist
                    </td>
                    <td>MD</td>
                </tr>
                <tr>
                    <td>12</td>
                    <td>
                        Dr. Meenakshi Anand
                    </td>
                    <td>
                        Anesthetist &Intesivist
                    </td>
                    <td>
                        MD
                    </td>
                </tr>
                <tr>
                    <td>13</td>
                    <td>
                        Dr. Munish Aggarwal
                    </td>
                    <td>
                        Gastroenterologist
                    </td>
                    <td>
                        MD, DNB
                    </td>
                </tr>
                <tr>
                    <td>14</td>
                    <td>
                        Dr. Ashok Bhagat
                    </td>
                    <td>
                        Radiodiagnosis
                    </td>
                    <td>
                        MBBS, MD
                    </td>
                </tr>
                <tr>
                    <td>15</td>
                    <td>
                        Dr. Manjot Kaur
                    </td>
                    <td>
                        Pathology
                    </td>
                    <td>
                        MBBS, MD PATHOLOGY
                    </td>
                </tr>
                <tr>
                    <td>16</td>
                    <td>
                        Dr. Kanwarneet Singh Bhatia
                    </td>
                    <td>
                        Oncologist
                    </td>
                    <td>
                        MS, DNB
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="khali-div"></div>