.doctors {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    .doctor-table {
        overflow-x: auto;
        table {
            width: 100%;
            tr {
                &:nth-child(even) {
                    background-color: #fff0f0;
                }
                td {
                    padding: 5px;
                }
            }
        }
    }
}
