<div class="khali-div"></div>
<app-banner></app-banner>
<div class="doctors">
    <h2>List of <span class="secondary-text">Empanelments</span></h2>
    <div class="container">
        <div class="doctor-table">
            <table>
                <tr>
                    <th>S. NO</th>
                    <th>EMPANELMENT</th>
                </tr>
                <tr>
                    <td>
                        1
                    </td>
                    <td>
                        ECHS
                    </td>
                </tr>
                <tr>
                    <td>
                        2
                    </td>
                    <td>
                        Bhai Ghanhya Sehat Sewa Scheme
                    </td>
                </tr>
                <tr>
                    <td>
                        3
                    </td>
                    <td>
                        PGEPHIS
                    </td>
                </tr>
                <tr>
                    <td>
                        4
                    </td>
                    <td>
                        Food Corporation of India
                    </td>
                </tr>
                <tr>
                    <td>
                        5
                    </td>
                    <td>
                        Raksha TPA
                    </td>
                </tr>
                <tr>
                    <td>
                        6
                    </td>
                    <td>
                        Max Bupa Health Insurance
                    </td>
                </tr>
                <tr>
                    <td>
                        7
                    </td>
                    <td>
                        L & T Insurance
                    </td>
                </tr>
                <tr>
                    <td>
                        8
                    </td>
                    <td>
                        Paramount Health Services
                    </td>
                </tr>
                <tr>
                    <td>
                        9
                    </td>
                    <td>
                        Bajaj Allianz
                    </td>
                </tr>
                <tr>
                    <td>
                        10
                    </td>
                    <td>
                        MD India
                    </td>
                </tr>
                <tr>
                    <td>
                        11
                    </td>
                    <td>
                        Bank of Maharashtra
                    </td>
                </tr>
                <tr>
                    <td>
                        12
                    </td>
                    <td>
                        Central Bank of India
                    </td>
                </tr>
                <tr>
                    <td>
                        13
                    </td>
                    <td>
                        Ratnakar Bank
                    </td>
                </tr>
                <tr>
                    <td>
                        14
                    </td>
                    <td>
                        Indian Overseas Bank
                    </td>
                </tr>
                <tr>
                    <td>
                        15
                    </td>
                    <td>
                        Punjab and Sind Bank
                    </td>
                </tr>
                <tr>
                    <td>
                        16
                    </td>
                    <td>
                        LIC of India
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div class="khali-div"></div>
<app-footer></app-footer>