@import "../variables.scss";

.padded {
    background-image: linear-gradient(90deg, #fff, #f0f2ff);
}
.intro {
    background-image: url("../../assets/images/new-ruby-hospital-outside.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 40px;
    .intro-content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vh - 70px);
        .sub-back {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #ffffffd6;
            .text {
                text-align: center;
                width: 100%;
                .row {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}
.intro-content {
    .text {
        .logo {
            justify-content: center;
            align-items: center;
            width: 20%;
            .image {
                width: 80%;
            }
        }
        .head {
            width: 60%;
            .heading {
                margin: 0;
                font-size: 80px;
                font-weight: 500;
            }
        }
        .nabh-logo {
            justify-content: center;
            align-items: center;
            width: 20%;
            .image {
                width: 50%;
            }
            p {
                margin: 0;
                font-size: 12px;
            }
        }
        .mission {
            max-width: 700px;
            margin: auto;
            .mission-head {
                font-size: 38px;
                margin-top: 0;
            }
            .mission-text {
                font-size: 22px;
                font-family: Roboto, sans-serif;
            }
        }
    }
}

// .team {
//     display: flex;
//     justify-content: center;
//     .member {
//         text-align: center;
//         width: 20%;
//         margin: 0 20px;
//         box-shadow: 0px 0px 4px 1px grey;
//         background-image: linear-gradient(180deg, white, #f0f2ff);
//         img {
//             width: 100%;
//             height: 300px;
//         }
//         .name {
//             color: #303f9f;
//             font-weight: 600;
//             font-size: 17px;
//         }
//         .desi {
//             font-size: 12px;
//             font-weight: 600;
//             color: #e53935;
//         }
//         .qual {
//             font-size: 12px;
//             color: #e53935;
//             // text-align: center;
//         }
//     }
// }

.reg {
    background-image: url("../../assets/images/new-ruby-hospital-outside.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 40px;
    a {
        text-decoration: none;
    }
    .reg-cont {
        background-color: #ffffffd6;
        padding: 2em;
        h2 {
            text-align: center;
        }
        h3 {
            font-size: 30px;
            color: #303f9f;
            font-weight: 600;
        }
        .reg-row {
            display: flex;
            padding: 0 4em;
            .reg-col {
                width: 45%;
                padding: 0 40px;
            }
        }
        .reg-left {
            border-right: 1px solid #212121;
            .reg-callus {
                .emergency-contact {
                    font-size: 22px;
                    .material-icons {
                        color: #e53935;
                        font-size: 20px;
                    }
                }
            }
        }

        .reg-right {
            form {
                .form-item {
                    position: relative;
                    margin-top: 20px;
                    label {
                        position: absolute;
                        top: 50%;
                        left: 10px;
                        transform: translateY(-50%);
                        transition: 0.3s;
                        &.active {
                            top: calc(-50% - 10px);
                            transform: translateY(50%);
                            font-size: 12px;
                        }
                    }
                }
                input,
                select,
                button {
                    width: 100%;
                    height: 34px;
                    border-radius: 30px;
                    border: 2px solid #e53935;
                    padding: 0px 10px;
                    outline: 0;
                    box-sizing: border-box;
                    font-size: 16px;
                }

                button {
                    background-color: #ad1b18;
                    border: none;
                    color: #fff;
                    box-shadow: 0px 0px 3px 1px #2f2f2f;
                    margin-top: 20px;
                    cursor: pointer;
                    &:active {
                        box-shadow: 0px 0px 0px 0px #2f2f2f;
                    }
                }
            }
        }
    }
}

.divider {
    padding: 40px 20%;
    &.divider-sm {
        padding: 5px 20%;
    }
    hr {
        background-color: #bdbdbd;
    }
}

@media (min-width: $bp-xl-screens) {
    .intro {
        .intro-content {
            height: auto;
        }
    }
    .intro-content {
        .text {
            .head {
                .heading {
                    height: auto;
                }
            }
        }
    }
}
@media (max-width: $bp-large-screens) and (orientation: landscape) {
    .intro {
        .intro-content {
            height: auto;
        }
    }
    .intro-content {
        .text {
            width: 100%;
            .head {
                .heading {
                    height: auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
}

@media (max-width: $bp-land-tab) {
    .intro-content {
        .text {
            .logo {
                display: none;
            }
            .nabh-logo {
                display: none;
            }
            .head {
                .heading {
                    font-size: 50px;
                }
            }
        }
        .mission {
            padding: 0 20px;
        }
    }

    .reg {
        .reg-cont {
            .reg-row {
                padding: 0;
                flex-direction: column;
                .reg-col {
                    width: 100%;
                    padding: 0;
                }
            }
            .reg-left {
                border: 0;
            }
        }
    }

    // .team {
    //     flex-direction: column;
    //     align-items: center;
    //     .member {
    //         margin: 10px 0;
    //         width: 50%;
    //     }
    // }
}

@media (max-width: $bp-land-tab) and (orientation: landscape) {
    .intro {
        .intro-content {
            height: auto;
        }
    }
    .intro-content {
        .text {
            width: 100%;
            .logo {
                display: none !important;
            }
            .nabh-logo {
                display: none !important;
            }
            .heading {
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }
}

@media (max-width: $bp-land-tab) and (orientation: potrait) {
    .intro {
        .intro-content {
            height: calc(100vh - 70px);
        }
    }
    .intro-content {
        .text {
            width: 100%;
            .row {
                .logo {
                    display: none !important;
                }
                .nabh-logo {
                    display: none !important;
                }
                .head {
                    .heading {
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

@media (max-width: $bp-pot-tab) {
    .intro-content {
        .text {
            .logo {
                display: none;
            }
            .nabh-logo {
                display: none;
            }
            .head {
                .heading {
                    font-size: 35px;
                    font-weight: 600;
                }
            }
            .mission {
                padding: 0 20px;
                .mission-head {
                    font-size: 26px;
                    font-weight: 400;
                }
                .mission-text {
                    font-size: 18px;
                }
            }
        }
    }
}
@media (max-width: $bp-sm-phone) {
    .intro-content {
        .text {
            .logo {
                display: none;
            }
            .nabh-logo {
                display: none;
            }
            .head {
                .heading {
                    font-size: 25px;
                    font-weight: 600;
                }
            }
            .mission {
                padding: 0 20px;
                .mission-head {
                    font-size: 20px;
                    font-weight: 400;
                }
                .mission-text {
                    font-size: 15px;
                }
            }
        }
    }
}

@media (min-width: $gt-bp-land-tab) {
    .intro-content {
        .text {
            width: 50%;
        }
        .logo {
            display: flex;
        }
    }
}

// @media (min-width: $bp-lap-desk) {
// }

// @media (min-width: $bp-large-screens) {
// }

// .owlc {
//     width: 50%;
//     .slide-content {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         height: 200px;
//         img {
//             width: 100%;
//         }
//     }
// }

// .slide-content {
//     height: 350px;
// }
// .slide-content {
//     height: 450px;
// }
// .slide-content {
//     height: 550px;
// }
// .slide-content {
//     height: 600px;
// }
