<div @landing>
    <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
            <div class="slide-content">
                <img src="assets/images/new-ruby-hospital-outside.jpeg" />
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide-content">
                <img src="assets/images/new-ruby-hospital-reception-2.jpeg" />
            </div>
        </ng-template>
        <ng-template carouselSlide>
            <div class="slide-content">
                <img src="assets/images/new-ruby-hospital-waiting-area-2.jpeg" />
            </div>
        </ng-template>
    </owl-carousel-o>
    
    <div class="divider">
        <hr/>
    </div>
    
    <div class="mission">
        <div class="mission-container">
            <h2 class="mission-head">Our <span>Mission</span></h2>
            <q>Prioritising patient care always. At your service, every day.</q>
            <div class="mission-content">
                <p>
                    The Hospital’s medical staff are of the highest caliber and provides a multi-disciplinary care team
                    approach. The use of Latest state-of-the-art technology enables patients to be fully diagnosed and
                    treated
                    under one roof in a caring and friendly environment. The Hospital was founded in 1999 by Dr. S P S
                    Grover
                    (Managing Director).
                </p>
                <p>
                    New Ruby Hospital holds Speciality in Surgery viz. Trauma, Neuro, Laproscopy, Maternity. The
                    Hospital also has a Speciality wing for ENT, Eye Treatment, Orthopaedics, Gynae & Physiotherapy. The
                    Hospital holds State-of-the-Art Operation Theatre at Par with International Standards.
                </p>
            </div>
        </div>
    </div>
    
    <div class="divider">
        <hr/>
    </div>
</div>
