<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
        <div class="slide-content">
            <img src="assets/images/new-ruby-hospital-outside.jpeg" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide-content">
            <img src="assets/images/new-ruby-hospital-reception-2.jpeg" />
        </div>
    </ng-template>
    <ng-template carouselSlide>
        <div class="slide-content">
            <img src="assets/images/new-ruby-hospital-waiting-area-2.jpeg" />
        </div>
    </ng-template>
</owl-carousel-o>